Repository renn0xtek9/bookmarkplasmoid: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, shellcheck

clang-format:
  name: Clang Format
  entry: clang-format
  language: system

shellcheck:
  name: ShellCheck
  entry: shellcheck
  language: system

Add trailing whitespace hook in pre-commit
  .cmake-format
  .devcontainer/install_dependencies_ubuntu_20.sh
  .devcontainer/install_dependencies_ubuntu_22.sh
  .github/actions/build_kde_neon_developer/entrypoint.sh
  .github/actions/build_kde_neon_developer/install_dependencies_kde_neon_developer.sh
  .github/workflows/test_kde_neon.yml
  .github/workflows/test_ubuntu_2004_building.yml
  .github/workflows/test_ubuntu_2204_building.yml
  .gitignore
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Readme.md
  Release.sh
  libbookmarksmodule/qmldir
  libbookmarksmodule/tests/bookmarksmoduletest.h
  scripts/build.sh
  scripts/format.sh
  scripts/install.sh
  scripts/test.sh
  scripts/try_with_plasmoidviewer.sh
Due: clang-format, shellcheck

Add cmake lint hook
  .pre-commit-config.yaml
Due: none

Add cmake-lint to the repo
  .pre-commit-config.yaml
  CMakeLists.txt
  libbookmarksmodule/CMakeLists.txt
  libbookmarksmodule/tests/CMakeLists.txt
Due: none

Add felgo extensions to dev container
  .devcontainer/devcontainer.json
Due: none

Moving .devcontainer to Ubuntu 22
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

Add qmlformat to pre-commit hook
  .pre-commit-config.yaml
Due: none

Add QML lint as commit hook
  .pre-commit-config.yaml
Due: none

Fix some unqualified access
  .pre-commit-config.yaml
  plasmoid/contents/ui/Bookmarkdelegate.qml
Due: none

Remove format step in Ubunut 20 pipeline since no qmlformat and qmllint
  .github/workflows/test_ubuntu_2004_building.yml
Due: none

Add ubuntu 24 pipeline
  .devcontainer/devcontainer.json
  .devcontainer/install_dependencies_ubuntu_24.sh
  .github/workflows/test_ubuntu_2404_building.yml
Due: shellcheck

Refactor tests
  libbookmarksmodule/bookmarkmodel.cpp
  libbookmarksmodule/tests/CMakeLists.txt
  libbookmarksmodule/tests/bookmarksmodule_chrome_test.cpp
  libbookmarksmodule/tests/bookmarksmodule_chrome_test.h
  libbookmarksmodule/tests/bookmarksmodule_konqueror_test.cpp
  libbookmarksmodule/tests/bookmarksmodule_konqueror_test.h
  libbookmarksmodule/tests/bookmarksmodule_okular_test.cpp
  libbookmarksmodule/tests/bookmarksmodule_okular_test.h
  libbookmarksmodule/tests/bookmarksmoduletest.cpp
  libbookmarksmodule/tests/bookmarksmoduletest.h
  libbookmarksmodule/tests/resources/Bookmarks
  libbookmarksmodule/tests/test_utils.h
Due: clang-format

Add GDB to container
  .devcontainer/install_dependencies_ubuntu_20.sh
  .devcontainer/install_dependencies_ubuntu_22.sh
  .devcontainer/install_dependencies_ubuntu_24.sh
Due: shellcheck

Set up settings.json
  .vscode/settings.json
  libbookmarksmodule/bookmarkmodel.hpp
  libbookmarksmodule/tests/CMakeLists.txt
  libbookmarksmodule/tests/bookmarksmodule_test.cpp
  libbookmarksmodule/tests/bookmarksmodule_test.h
Due: clang-format

Fix pipeline installation of ubunut 24
  .devcontainer/install_dependencies_ubuntu_24.sh
  .github/workflows/test_kde_neon.yml
  .github/workflows/test_ubuntu_2004_building.yml
  .github/workflows/test_ubuntu_2204_building.yml
  .github/workflows/test_ubuntu_2404_building.yml
Due: shellcheck

Fix install pipeline for Ubuntu 24.04 Using apt package for cmake-format and pre-commit
  .devcontainer/install_dependencies_ubuntu_24.sh
Due: shellcheck

Add some config for debugging and cmake integratonion in VScode and devcontainer
  .devcontainer/.gdbinit
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .vscode/launch.json
  .vscode/settings.json
  scripts/build.sh
  scripts/test.sh
Due: shellcheck

Extract functions from bookmarkmodel to xbel_reader
  libbookmarksmodule/CMakeLists.txt
  libbookmarksmodule/include/libbookmarksmodule/bookmark_model_plugin.h
  libbookmarksmodule/include/libbookmarksmodule/bookmarkmodel.h
  libbookmarksmodule/include/libbookmarksmodule/data_types.h
  libbookmarksmodule/include/libbookmarksmodule/environment_theme_facade.h
  libbookmarksmodule/include/libbookmarksmodule/utils.h
  libbookmarksmodule/include/libbookmarksmodule/xbel_reader.h
  libbookmarksmodule/src/bookmark_model_plugin.cpp
  libbookmarksmodule/src/bookmarkmodel.cpp
  libbookmarksmodule/src/utils.cpp
  libbookmarksmodule/src/xbel_reader.cpp
  libbookmarksmodule/tests/CMakeLists.txt
  libbookmarksmodule/tests/bookmarksmodule_chrome_test.cpp
  libbookmarksmodule/tests/bookmarksmodule_chrome_test.h
  libbookmarksmodule/tests/bookmarksmodule_konqueror_test.h
  libbookmarksmodule/tests/bookmarksmodule_okular_test.h
  libbookmarksmodule/tests/bookmarksmodule_test.cpp
  libbookmarksmodule/tests/bookmarksmodule_test.h
  libbookmarksmodule/tests/mocks.h
  libbookmarksmodule/tests/test_utils.h
  libbookmarksmodule/tests/xbel_reader_test.cpp
  libbookmarksmodule/tests/xbel_reader_test.h
Due: clang-format

Move tests to QTEST_GUILESS_MAIN
  libbookmarksmodule/tests/bookmarksmodule_chrome_test.cpp
  libbookmarksmodule/tests/bookmarksmodule_konqueror_test.cpp
  libbookmarksmodule/tests/bookmarksmodule_okular_test.cpp
  libbookmarksmodule/tests/bookmarksmodule_test.cpp
  libbookmarksmodule/tests/xbel_reader_test.cpp
Due: clang-format

Refactor tests
  libbookmarksmodule/src/xbel_reader.cpp
  libbookmarksmodule/tests/xbel_reader_test.cpp
  libbookmarksmodule/tests/xbel_reader_test.h
Due: clang-format

Reorder .pre commit
  .pre-commit-config.yaml
Due: none

Implement parsing of folder with mutliple bookmarks
  libbookmarksmodule/src/xbel_reader.cpp
  libbookmarksmodule/tests/test_utils.h
  libbookmarksmodule/tests/xbel_reader_test.cpp
  libbookmarksmodule/tests/xbel_reader_test.h
Due: clang-format

Refactor test with pointers
  libbookmarksmodule/include/libbookmarksmodule/xbel_reader.h
  libbookmarksmodule/src/xbel_reader.cpp
  libbookmarksmodule/tests/test_utils.h
  libbookmarksmodule/tests/xbel_reader_test.cpp
  libbookmarksmodule/tests/xbel_reader_test.h
Due: clang-format

Fix implementation of one folder with mutliple bookmarks
  libbookmarksmodule/tests/xbel_reader_test.cpp
  libbookmarksmodule/tests/xbel_reader_test.h
Due: clang-format

Add test for two folder side by side
  libbookmarksmodule/tests/xbel_reader_test.cpp
  libbookmarksmodule/tests/xbel_reader_test.h
Due: clang-format

Implement Nested folder and side by side
  libbookmarksmodule/tests/xbel_reader_test.cpp
  libbookmarksmodule/tests/xbel_reader_test.h
Due: clang-format

Clean tests
  libbookmarksmodule/include/libbookmarksmodule/xbel_reader.h
  libbookmarksmodule/src/xbel_reader.cpp
  libbookmarksmodule/tests/test_utils.h
  libbookmarksmodule/tests/xbel_reader_test.cpp
  libbookmarksmodule/tests/xbel_reader_test.h
Due: clang-format

rename xbel_reader to xbel_parser
  .vscode/launch.json
  libbookmarksmodule/CMakeLists.txt
  libbookmarksmodule/include/libbookmarksmodule/bookmark_source_reader_interface.h
  libbookmarksmodule/include/libbookmarksmodule/xbel_parser.h
  libbookmarksmodule/src/xbel_parser.cpp
  libbookmarksmodule/tests/CMakeLists.txt
  libbookmarksmodule/tests/xbel_parser_test.cpp
  libbookmarksmodule/tests/xbel_parser_test.h
Due: clang-format

Move xbel_parser subfunctions to private
  libbookmarksmodule/CMakeLists.txt
  libbookmarksmodule/include/libbookmarksmodule/xbel_file_reader.h
  libbookmarksmodule/include/libbookmarksmodule/xbel_parser.h
  libbookmarksmodule/src/xbel_file_reader.cpp
Due: clang-format

Refactor with xml_bookmark_reader_interface and xml_parser_interface
  libbookmarksmodule/CMakeLists.txt
  libbookmarksmodule/include/libbookmarksmodule/xbel_file_reader.h
  libbookmarksmodule/include/libbookmarksmodule/xbel_parser.h
  libbookmarksmodule/include/libbookmarksmodule/xml_bookmark_reader_interface.h
  libbookmarksmodule/include/libbookmarksmodule/xml_parser_interface.h
  libbookmarksmodule/src/xbel_file_reader.cpp
  libbookmarksmodule/src/xbel_parser.cpp
  libbookmarksmodule/tests/CMakeLists.txt
  libbookmarksmodule/tests/mocks.h
  libbookmarksmodule/tests/xbel_file_reader_test.cpp
  libbookmarksmodule/tests/xbel_file_reader_test.h
Due: clang-format

Update settings.json
  .vscode/settings.json
Due: none

Implementation of xbel_file_reader_interface
  libbookmarksmodule/include/libbookmarksmodule/xbel_file_reader.h
  libbookmarksmodule/src/xbel_file_reader.cpp
  libbookmarksmodule/tests/CMakeLists.txt
  libbookmarksmodule/tests/mocks.h
  libbookmarksmodule/tests/xbel_file_reader_test.cpp
  libbookmarksmodule/tests/xbel_file_reader_test.h
Due: clang-format

Implementation of xbel_file_reader_interface
  libbookmarksmodule/include/libbookmarksmodule/abstract_environment_theme_facade.h
  libbookmarksmodule/include/libbookmarksmodule/environment_theme_facade.h
  libbookmarksmodule/include/libbookmarksmodule/xbel_file_reader.h
  libbookmarksmodule/include/libbookmarksmodule/xbel_parser.h
  libbookmarksmodule/include/libbookmarksmodule/xml_parser_interface.h
  libbookmarksmodule/src/xbel_file_reader.cpp
  libbookmarksmodule/tests/CMakeLists.txt
  libbookmarksmodule/tests/mocks.h
  libbookmarksmodule/tests/xbel_file_reader_test.cpp
  libbookmarksmodule/tests/xbel_file_reader_test.h
Due: clang-format

Make use of XbelFileReader in bookmarks module
  libbookmarksmodule/CMakeLists.txt
  libbookmarksmodule/include/libbookmarksmodule/bookmarkmodel.h
  libbookmarksmodule/src/bookmarkmodel.cpp
  libbookmarksmodule/src/environment_theme_facade.cpp
  libbookmarksmodule/tests/mocks.h
Due: clang-format

Change clang-format pre-commit
  .pre-commit-config.yaml
Due: none

Fix clang-format formatting and format everythin
  .devcontainer/devcontainer.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  libbookmarksmodule/include/libbookmarksmodule/bookmark_source_reader_interface.h
  libbookmarksmodule/include/libbookmarksmodule/environment_theme_facade.h
  libbookmarksmodule/include/libbookmarksmodule/xbel_file_reader.h
  libbookmarksmodule/include/libbookmarksmodule/xbel_parser.h
  libbookmarksmodule/include/libbookmarksmodule/xml_bookmark_reader_interface.h
  libbookmarksmodule/include/libbookmarksmodule/xml_parser_interface.h
  libbookmarksmodule/src/bookmarkmodel.cpp
  libbookmarksmodule/src/environment_theme_facade.cpp
  libbookmarksmodule/src/xbel_file_reader.cpp
  libbookmarksmodule/src/xbel_parser.cpp
  libbookmarksmodule/tests/mocks.h
  libbookmarksmodule/tests/test_utils.h
  libbookmarksmodule/tests/xbel_file_reader_test.cpp
  libbookmarksmodule/tests/xbel_file_reader_test.h
  libbookmarksmodule/tests/xbel_parser_test.cpp
  libbookmarksmodule/tests/xbel_parser_test.h
Due: clang-format

Fix pre-commit
  .pre-commit-config.yaml
Due: none

Add test with a full content of xbel file and a single bookmark in xbel reader tests
  libbookmarksmodule/tests/xbel_parser_test.cpp
  libbookmarksmodule/tests/xbel_parser_test.h
Due: clang-format

Fix tests not finding their resource files
  libbookmarksmodule/tests/CMakeLists.txt
Due: none

Use simple string instead of regex in the search field
  libbookmarksmodule/src/bookmarkmodel.cpp
Due: clang-format

fix setFilePath
  libbookmarksmodule/src/xbel_file_reader.cpp
Due: clang-format

Path conditions:
  clang-format: any of: \.(c|cpp|h|hpp)$
  shellcheck: any of: \.sh$
